<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reportes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="contenido">

    <h1>📊 Reportes del Sistema</h1>

    <a href="/dashboard" class="btn">← Volver al Inicio</a>

    <div class="cards">

        <div class="card">
            <h2>Ventas del Día</h2>
            <p>850 Bs</p>
        </div>

        <div class="card">
            <h2>Pedidos Realizados</h2>
            <p>25</p>
        </div>

        <div class="card">
            <h2>Mesas Ocupadas</h2>
            <p>6</p>
        </div>

        <div class="card">
            <h2>Productos en Stock</h2>
            <p>125</p>
        </div>

    </div>

</div>

</body>
</html>