<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ventas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="contenido">

    <h1>💰 Ventas</h1>

    <a href="/dashboard" class="btn">← Volver al Inicio</a>

    <table>

        <tr>
            <th>ID Venta</th>
            <th>Fecha</th>
            <th>Total</th>
        </tr>

        <tr>
            <td>1</td>
            <td>15/06/2026</td>
            <td>850 Bs</td>
        </tr>

        <tr>
            <td>2</td>
            <td>16/06/2026</td>
            <td>1200 Bs</td>
        </tr>

    </table>

</div>

</body>
</html>